a {
    color: red;
}
a:hover {
    text-decoration: none;
}

a.two {
    color: rgb(149, 255, 1);
}
a:hover.two {
    text-decoration: none;
}

#block a.three {
    color: rgb(60, 255, 0);
}
#block a.three:hover {
    text-decoration: none;
}

.block a.four {
    color:rgb(75, 31, 34);
}
.block a.four:hover {
    text-decoration: none;
}